---
ec2_access_key: "{{ aws_ec2_access_key }}"
ec2_secret_access_key: "{{ aws_ec2_secret_access_key }}"
ec2_region: "{{ aws_ec2_region }}"
mgmt_network_name: "{{ network_aws_mgmt_subnet_name }}"
ssh_key_name: "{{ aws_ssh_key_name }}"
ssh_user: "{{ aws_ssh_user }}"